{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<div class="corps" style="margin-top:5%;">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5 justify-content-center mb-5" style="background-color: white;">
        <form method="post" class="p-5">
          {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}
      
          {% if app.user %}
              <div class="mb-3">
                  You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
              </div>
          {% endif %}
      
          <h1 class="h3 mb-5 font-weight-normal text-center">Connexion</h1>

          <div class="col-8 form-group mb-5 justify-content-center">
            <div class="col-2" style="align-self: center;">
              <label for="inputEmail" >Login :</label>
            </div>
            <div class="col-5">
              <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Entrez votre login"class="form-control" required autofocus>
              <small id="emailHelp" class="form-text text-muted">Votre login.</small>
            </div>
          
          </div>

          
          <div class="col-8 form-group mb-5 justify-content-center">
            <div class="col-2" style="align-self: center;">
            <label for="inputPassword">Password : </label>
            </div>
            <div class="col-5">
            <input type="password" name="password" id="inputPassword" placeholder="Entrez votre mot de passe" class="form-control" required>  
            <small id="emailHelp" class="form-text text-muted">Votre mot de passe.</small>
            </div>
          </div>

          <div class=" col-12 form-check text-center">
            <div class="checkbox mb-3">
              <label>
                  <input type="checkbox" name="_remember_me"> Se Souvenir de Moi
              </label>
          </div>
          </div>
          <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
          <div class="col-6 justify-content-center mt-5" style="margin-left: 45%;">
            <button class=" col-6 justify-content-center btn btn-lg btn-edit-profile" type="submit">Se Connecter</button>

          </div>
          <div class="col-12 mt-4 text-center">
            Pas encore inscrit ? <a style="font-weight:bolder;" href="{{path('inscription')}}">Inscription</a>
          </div>
      </form>
      </div>
    </div>
  </div>

</div>


{% endblock %}
