<!--FOOTER-->
<section id="footer" style="background-color : #b0f2b6 ; background : maintain;  background-position: center;">
	<div class="container">

		<div class="row">
			<div class="col-md-8 col-sm-6">
				<div class="logo">
					<a href="">
						<img src="{{ asset('images/logo.png') }}" width="40%">

					 </a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="social">
					<div class="row">
						<div class="col-md-3 col-xs-3">
							<a href="" class="icon-social">
								<span><img src="{{ asset('images/footer/facebook.svg') }}"></span>
							</a>
						</div>
						<div class="col-md-3 col-xs-3">
							<a href="" class="icon-social">
								<span><img src="{{ asset('images/footer/instagram.svg') }}"></span>
							</a>
						</div>
						<div class="col-md-3 col-xs-3">
							<a href="" class="icon-social">
								<span><img src="{{ asset('images/footer/twitter.svg') }}"></span>
							</a>
						</div>
						<div class="col-md-3 col-xs-3">
							<a href="" class="icon-social">
								<span><img src="{{ asset('images/footer/youtube.svg') }}"></span>
							</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="links links-regions" style="font-family: 'Roboto'">
					<h5 style='color : black ;'>Plan Du Site</h5>
					<ul style="color:black;margin :5%;">
						<li class="li-footer">
							<a href="">Accueil</a>
						</li>
						<li class="li-footer">
							<a href="">Conditions Générales d'Utilisation</a>
						</li>
						<li class="li-footer">
							<a href="">Réserver un habitat</a>
						</li>
						<li class="li-footer"> 
							<a href="">Mon Compte</a>
						</li>
						<li class="li-footer">
							<a href="">Qui Sommes-Nous ?</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="links links-regions" style="font-family: 'Roboto'">
					<h5 style='color : black ;'>Nos Moyens de Paiement</h5>
					<ul>
						<li>
							<img src="{{ asset('images/footer/payment-card.png') }}">						
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	

</section>

<!---FOOTER END-->


<!--SUB FOOTER-->
<section id="sub-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
				</ul>
				<div class="copyright">
					@ 2020 Tous droits réservés | Atypik House
					<p>
						<a href="">

						</a>
					</p>
				</div>
			</div>
		</div>
	</div>

</section>

<!---SUB FOOTER END-->