    <!--Header Bar Begin-->
    <header class="header-area header-sticky" style="background-color: #B0F2B6;">
      <div class="container">
              <div class="col-12">
                <nav class="main-nav">
                  <a href="{{path('home')}}" class="logo" style="width: 30%;">
                    <img src="{{asset('img/logo.png')}}" width="30%">
                </a>
                  <ul class="nav">
                      <li class="scroll-to-section">
                          <a href="{{path('listHabitat')}}">Réservations</a>
                      </li>
                      <li class="scroll-to-section">
                          <a href="{{path('app_login')}}">Se Connecter</a>
                      </li>
                      <li class="scroll-to-section">
                          <a href="{{path('inscription')}}">Inscription</a>
                      </li>
                  </ul>
              </nav>
      </div>
  </header>
  <!--Header Bar End-->