    <!--Header Bar Begin-->
    <header class="header-area header-sticky" style="background-color: #B0F2B6;width:100%;">
        <div class="container">
                <div class="col-12">
                  <nav class="main-nav">
                    <a href="{{path('home')}}" class="logo" style="width: 30%;">
                        <img src="{{asset('img/logo.png')}}" width="30%">
                    </a>
                    <ul class="nav collapse">
                        <li class="scroll-to-section">
                            <a href="{{path('listHabitat')}}"><img src="{{asset('images/icon-rent.svg')}}" width="30px;"></a>
                        </li>
                        <li class="scroll-to-section">
                            <a href="{{path('internaute')}}"><img src="{{asset('images/icon-user.svg')}}" width="30px;"></a>
                        </li>
                        <li class="scroll-to-section">
                            <a href="{{path('app_logout')}}"><img src="{{asset('images/icon-logout.svg')}}" width="30px;">

                            </a>
                        </li>
                        <li class="scroll-to-section">
                            <span class="badge badge-pill badge-danger notify" style="position: absolute;width:10%;text-align : left;">0</span>
                            <a href="{{path('notification')}}"><img src="{{asset('images/icon-msg.svg')}}" width="30px;">
                            </a>

                        </li>

                    </ul>
                </div>
                </nav>
        </div>
    </header>
    <!--Header Bar End-->