   <!-- Main Sidebar Container -->
   <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
      <span class="brand-text font-weight-light">Atypik House</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <li class="nav-header">Back - Office</li>
      </div>

      <!-- SidebarSearch Form -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <li class="nav-item">
                <a href="{{path('dashboard')}}" class="nav-link">
                
                  <p>
                    <i class="fas fa-desktop"></i> Tableau de Bord
                  </p>
                </a>
              </li>
            <a href="{{path('habitat')}}" class="nav-link">
            
              <p>
                <i class="fas fa-campground"></i> Habitats
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{path('proprietes')}}" class="nav-link">
            
              <p>
                <i class="fas fa-table"></i> Proprietes
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{path('type_habitat_index')}}" class="nav-link">
            
              <p>
                <i class="fas fa-home"></i> Types d'Habitats
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{path('typeActivites')}}" class="nav-link">
            
              <p>
                <i class="fas fa-snowboarding"></i> Types d'Activites
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{path('user')}}" class="nav-link">
            
              <p>
                <i class="fas fa-users"></i> Utilisateurs
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{path('comment_index')}}" class="nav-link">
            
              <p>
                <i class="fas fa-comments"></i> Commentaires
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{path('prisedevue_index')}}" class="nav-link">
            
              <p>
                <i class="fas fa-camera-retro"></i> Prises de Vues
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{path('home')}}" class="nav-link">
            
              <p>
                <i class="fas fa-network-wired"></i> Site Web
              </p>
            </a>
          </li>



<!-- jQuery -->