
    <header class="header">
        <div class="header-wrapper">
    
            <a href="{{path('home')}}" class="header-logo">
                <img src="{{asset('images/logo.svg')}}">
            </a>
    
            <div class="container">
                <div class="title-container">
    
                    <div class="wrapper-menu">
                        <label class="menu">
                            <a href="{{path('domaine_liste')}}">
                                Nos Etablissements
                            </a>
                        </label>

                    </div>
    
                    <div class="wrapper-menu">
                        <label class="menu">
                            <a href="{{path('hebergements')}}">
                                Nos Habitats
                            </a>
                        </label>         
                    </div>
                        
                    <div class="wrapper-menu">
                        <label class="menu">
                            <a href="{{path('about_us')}}">
                                Qui Sommes-Nous ?

                            </a>
                        </label>          
                    </div>
                    <div class="wrapper-menu">
                        <label class="menu">
                            <a href="{{path('questions')}}">
                            FAQ
                            </a>
                        </label>
                        
                    </div>
                    <div class="wrapper-menu">
                        <label class="menu">
                            <a href="{{path('contact')}}">
                                Contact

                            </a>
                        </label>          
                    </div>
                    <div class="wrapper-menu">
                        <label class="menu">
                            <a href="{{path('internaute')}}">
                            <i class="fas fa-user ml-3"></i>
                            Mon Profil
                            </a>
                        </label>                       
                    </div>
                </div>
            </div>

    
        </div>
    </header>