{# /templates/produit.html.twig #}
{% extends 'parent.html.twig' %}

{% block titre %}Back-Office{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block contenuPrincipal %}
    <div class="wrapper">
    
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-black navbar-dark">
        <!-- Left navbar links -->
    
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <!-- Messages Dropdown Menu -->
          <!-- Notifications Dropdown Menu -->
          <li class="nav-item dropdown">
    
    
    
          <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
              <i class="fas fa-sign-out-alt"></i> Déconnexion
            </a>
          </li>
          <li class="nav-item">
            </a>
          </li>
        </ul>
    
    
    
      </nav>
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <nav aria-label="breadcrumb" style="text-align: right;">
            
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Habitats</li>
          </ol>
        </nav>
        
        <!-- /.content-header -->
    
        <!-- Main content -->
              <!-- ./col -->
              <section class="col-lg-12 connectedSortable">
                <!-- Custom tabs (Charts with tabs)-->
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">
                    </h3>
                    <div class="card-tools">
                      <ul class="nav nav-pills ml-auto">

                      </ul>
                    </div>
                    <div class="tab-habitats">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ user.id }}</td>
                                </tr>
                                <tr>
                                    <th>Login</th>
                                    <td>{{ user.login }}</td>
                                </tr>
                                <tr>
                                    <th>Roles</th>
                                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Password</th>
                                    <td>{{ user.password }}</td>
                                </tr>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ user.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Prenom</th>
                                    <td>{{ user.prenom }}</td>
                                </tr>
                                <tr>
                                    <th>Adresse</th>
                                    <td>{{ user.adresse }}</td>
                                </tr>
                                <tr>
                                    <th>Ville</th>
                                    <td>{{ user.ville }}</td>
                                </tr>
                                <tr>
                                    <th>Cp</th>
                                    <td>{{ user.cp }}</td>
                                </tr>
                                <tr>
                                    <th>Url</th>
                                    <td>{{ user.url }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                            </tbody>
                        </table>
                    
                        <a class="btn btn-info" href="{{ path('user') }}">Revenir en Arrière</a>
                    
                        <a class="btn btn-info" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                    
                        {{ include('user/_delete_form.html.twig') }}
                    </div>
                    </div>
                  </section>
      
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
              <!-- Left col -->
                <!-- Custom tabs (Charts with tabs)-->
              
                <!-- /.card --
    
      <!-- /.navbar -->
    
   {% include 'sidebar.html.twig' %}
{% endblock %}

{% block javascripts %}
{% endblock %}
